body::-webkit-scrollbar {
  /* width */
  width: 12px;
  background-color: gray;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: #bb214f;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #790f0f;
  opacity: 0.6;
}


/* Dropdown */
.dropdown-menu {
  max-height: 22rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-menu::-webkit-scrollbar {
  /* width */
  width: 12px;
  background-color: gray;
}

/* Track */
.dropdown-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

.dropdown-item:hover{
  cursor: pointer;
}

#dropdown-button {
  white-space: normal;
}

/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
  background: #bb214f;
  border-radius: 6px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #790f0f;
  opacity: 0.6;
}

@font-face {
  font-family: "Alex Brush";
  src: url("../public/AlexBrush-Regular.ttf");
}

/* title */
#title{
  font: bolder 3em "Alex Brush", serif;
}

/* Modal */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay--after-open{
  opacity: 1;
}
.ReactModal__Overlay--before-close{
  opacity: 0;
}
